@keyframes fadeIn
  0%
    opacity 0
    // transform perspective(600px) rotateY(10deg)
  100%
    opacity 1
    // transform perspective(600px) rotateY(0)

@keyframes falling
  0%
    opacity 0
    transform translateY(1em)
  100%
    opacity 1

@keyframes colors
  to
    filter hue-rotate(1turn)
