$color-primary = #3626A7

:root
  --color-bg #fff
  --color-primary $color-primary
  --color-primary-light rgba($color-primary, 0.2)
  --color-grey mix(#444, $color-primary, 95%)

  --border-color mix(#eee, $color-primary, 95%)

  --font-family 'Inter', sans-serif
  --font-color mix(#222, $color-primary, 90%)
