section#bonus.Content__section.Content__bonus
  h2 Perso

  section
    h3 Musique
    p Je suis chanteur au sein du Chœur de l'Orchestre Universitaire de Lille.
    p Je compose un peu et reprend des morceaux sous le pseudo <a href="https://soundcloud.com/sosounds">SoSounds</a>, je chante/mix et gratte pour <a href="http://paramedicsss.com">Paramedicsss</a> et j'ai joué de la batterie dans <a href="https://soundcloud.com/hillhiddenhounds">HHH</a>.

  section
    h3 Développement perso
    p <a href="http://mine.victordarras.fr">Minehunter</a> : une version très personnalisée du Démineur, avec <em>timer</em>, score et une table de jeu hexagonale. Jouable dans le navigateur.
    p <a href="https://victordarras.fr/cssgame/">CSS only game</a> : une expérimentation pour créer un jeu seulement à base d'HTML et CSS.
    p J'ai aussi eu l'occasion de développer quelques projets open-source, comme ce <a href="https://github.com/synbioz/redspot-redmine-plugin">plugin de navigation Redmine</a>.
    p J'ai également développé une grosse partie du front-end d'un jeu de rôle en ligne. Avec l'ensemble du design et des illustrations. <a href="https://github.com/victordarras/SilveryWarrior">SilveryWarrior (code)</a>
